*.pyc
*.npy
*.pth
*.pdf
*.whl
work_dirs/*
val/*
data/*
.vscode/*
*.so
*.o
projects/mmdet3d_plugin/ops/deformable_aggregation_ext.egg-info/dependency_links.txt
projects/mmdet3d_plugin/ops/deformable_aggregation_ext.egg-info/PKG-INFO
projects/mmdet3d_plugin/ops/deformable_aggregation_ext.egg-info/SOURCES.txt
projects/mmdet3d_plugin/ops/deformable_aggregation_ext.egg-info/top_level.txt

mmcv-full/build/*
results/*
pypcd/*
results_jrdb2d.json
gen_file.sh
test.py
projects/configs/JRDB_sparse4dv3_temporal_r50_1x8_bs6_*.py

